header {
    position: fixed;width: 100%;
}

.m_logo {
    width: 50px;
}

.m_btn {
    border-radius: 20px;
}

.m_j_container {
    background-image: url(../img/jumbo-bg.png);
    background-position: center ;
    background-size: cover;
    height: 80vh;
}

.m_img {
    width: 300px;
}

.m_t_fs {
    font-size: 40px;
}

.m_c_fs {
    font-size: 15px;
    font-weight: bold;
}

.m_nav_img {
    width: 50px;
}

.m_a_c {
    color: blue;
    list-style-type: initial;
}

main {
    padding-top: 100px;
}

@media all and (min-width: 768px) {

    .m_col_md_5 {
        flex-basis: calc(100% / 5);
        max-width: calc(100% / 5);
    }

    .s_b {
        justify-content: space-between;
    }
    .col_img {
        width: 50%;
    }
}

.hero {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center ;
    background-size: cover;
    height: 80vh;
}

.title {
    color: white;
}

.m_bg {
    background-color: #BEBCBB;
}

.m_bg-2 {
    background-color: #161C3B;
}

.m_bg-3 {
    background-color: #00439C;
}

.ms_container {
    width: 60%;
    margin: 0 auto;
}

@media all and (min-width: 768px) {

    .mw_container {
        width: 80%;
        margin: 0 auto;
    }
}

@media all and (min-width: 992px) {

    .mw_container {
        width: 60%;
        margin: 0 auto;
    }

    .m_nav_container {
        width: 50%;
    }
}

@media all and (min-width: 1200px) {

    .mw_container {
        width: 50%;
        margin: 0 auto;
    }

    .m_nav_container {
        width: 35%;
    }
}
footer ul {
    list-style: none;
    line-height: 40px;
}

footer ul a {
    color: white;
    text-decoration: none;
}

.img_w {
    width: 100px;
}

.dropdown {
    position: static !important;
}
  
.dropdown-menu {
    margin-top: 0px !important;
    width: 100% !important;
    border: 0;
    border-radius: 0;
}

/* .m_b_c {
    position: relative;  
}

.borders {
    position: absolute;
    top: 0;
    width: 90%;
    height: 100%;
    border: 5px solid white;
    border-radius: 15px;
    display: none;
}

.borders:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 5px solid blue;
    border-radius: 15px;
  }

  .m_b_c:hover .borders{
      display: block;
  } */

  .m_border {
      padding: 3px;
    border: 3px solid transparent;
    transition: transform 0.5s linear;
  }
.m_border:hover {
    border-color: #0d6efd;
    transform: translateY(-10px);
}

.btn-inset-b:hover {
    box-shadow: inset 0px 0px 0px 3px black ;
}

.btn-inset-w:hover {
    box-shadow: inset 0px 0px 0px 3px white ;
}

.btn-inset-a:hover {
    box-shadow: inset 0px 0px 0px 3px #0d6efd ;
}

.b_o {
    border-bottom: 2px solid white;
    opacity: 0.5;
}

.b_o:hover {
    border-bottom: 2px solid #0d6efd;
    opacity: 1;
}

