.m_logo {
    width: 50px;
}

.m_btn {
    border-radius: 20px;
}

.m_j_container {
    background-image: url(../img/jumbo-bg.png);
    background-position: center ;
    background-size: cover;
    height: 80vh;
}

.m_img {
    width: 300px;
}

.m_t_fs {
    font-size: 40px;
}

.m_c_fs {
    font-size: 15px;
    font-weight: bold;
}



@media all and (min-width: 768px) {

    .m_col_md_5 {
        flex-basis: calc(100% / 5);
        max-width: calc(100% / 5);
    }

    .s_b {
        justify-content: space-between;
    }
    .col_img {
        width: 50%;
    }
}

.hero {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center ;
    background-size: cover;
    height: 80vh;
}

.title {
    color: white;
}

.m_bg {
    background-color: #BEBCBB;
}

.m_bg-2 {
    background-color: #161C3B;
}

.m_bg-3 {
    background-color: #00439C;
}

.ms_container {
    width: 60%;
    margin: 0 auto;
}

@media all and (min-width: 768px) {

    .mw_container {
        width: 80%;
        margin: 0 auto;
    }
}

@media all and (min-width: 992px) {

    .mw_container {
        width: 60%;
        margin: 0 auto;
    }
}

@media all and (min-width: 1200px) {

    .mw_container {
        width: 50%;
        margin: 0 auto;
    }
}
footer ul {
    list-style: none;
    line-height: 40px;
}

footer ul a {
    color: white;
    text-decoration: none;
}

.img_w {
    width: 100px;
}